@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    --first-color: hsl(31, 100%, 70%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 99%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
  
    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 2.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
/*=============== CART ===============*/
#cart {
    position: fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: .4s;
  }
  
  .cart__title-center {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: var(--mb-3);
  }
  
  #cart__close {
    font-size: 2rem;
    color: var(--title-color);
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    cursor: pointer;
  }
  
  #cart__container {
    display: grid;
    row-gap: 1.5rem;
  }
  
  #cart__card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  #cart__box {
    background-color: var(--container-color);
    padding: .75rem 1.25rem;
    border: 1px solid var(--border-color);
  }
  
  #cart__img {
    width: 50px;
  }
  
  #cart__title {
    font-size: var(--normal-font-size);
    margin-bottom: .5rem;
  }
  
  #cart__price {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1-5);
  }
  
  #cart__amount,
  #cart__amount-content{
    display: flex;
    align-items: center;
  }
  
  #cart__amount{
    column-gap: 3rem;
  }
  
  #cart__amount-content{
    column-gap: 1rem;
  }
  
  #cart__amount-box {
    display: inline-flex;
    padding: .25rem;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
  }
  
  #cart__amount-trash {
    font-size: 1.15rem;
    color: var(--first-color);
    cursor: pointer;
  }
  
  #cart__prices {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
  }
  
  #cart__prices-item, 
  #cart__prices-total {
    color: var(--title-color);
  }
  
  #cart__prices-item {
    font-size: var(--small-font-size);
  }
  
  #cart__prices-total {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }
  
  /* Show cart */
  #show-cart {
    right: 0;
  } */

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 55px;
    color: rgb(83, 5, 83)
}

h2 {
    font-size: 50px;
}

h4 {
    font-size: 25px;
    padding-bottom: 15px;
}

h6 {
    font-weight: 800;
    font-size: 13px;
}

p {
    color: rgb(86, 85, 85);
    padding-top: 4px;
    padding-bottom: 16px;
    font-size: 16px;
    margin: 15px 0 20px 0;
}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

.section-p1 {
    padding: 40px 60px;
}

.section-m1 {
    margin: 40px 0;
}

.fa .fa-user {
    size: 10px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /* background: #e3e6f3; */
    background: #4e4d3f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    /* color: #1a1a1a; */
    /* color: #fed26a; */
    color: #9b9b91;
    transition: .3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #ffb300;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#close
{
    display: none;
}

#mobile {
    display: none;
    align-items: center;
}

#hero {
    background-image: url(../public/assets/img/bags/bannerr/alfonso-ramirez-TQ8RWNM0eBY-unsplash.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4
{
    color: #fff;
}

#hero h2
{
    color: #fff;
}

#hero h1
{
    color: #ffbd27;
}

#hero p
{
    color: rgb(173, 170, 170);
}

#hero button {
    background-image: url(../public/assets/img/button.png);
    background-color: transparent;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 77px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}


#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #c8cbcb;
    border-radius: 4px;
    margin: 15px;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #f9d7b1;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #cdebbc;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;

}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 17px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(83, 5, 83);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../public/assets/img/banner/b10.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(../public/assets/img/banner/b16.jpg);
    min-width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url(../public/assets/img/banner/b20.jpg);
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;

}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 14px;
}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;

}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url(../public/assets/img/banner/b18.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #cd2e2e;
    font-weight: 800;
    font-size: 15px;
}

#banner3 .banner-box2 {
    background-image: url(../public/assets/img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(../public/assets/img/banner/b7.jpg);
}


#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../public/assets/img/banner/b2.jpg);
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: #1e1f15;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 1px;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    text-decoration: none;
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;

}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

#page-header h2
{
    color: #ffb300;
}

#page-header p
{
    color: #f9d7b1;
}

#pagination
{
    text-align: center;
}

#pagination a
{
    text-decoration: none;
    background-color: #088178;
    padding: 12px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i
{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

#prodetails
{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image
{
    width: 40%;
    margin-right: 50px;
}

.small-img-group
{
    display: flex;
    justify-content: space-between;
}

.small-img-col
{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details
{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4
{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2
{
    font-size: 26px;
}

#prodetails .single-pro-details select
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#prodetails .single-pro-details input
{
    width: 60px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus
{
    outline: none;
}

#prodetails .single-pro-details button
{
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details span
{
    line-height: 25px;
}

#page-header
{
    background-image: url('../public/assets/img/banner/b7.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

#page-header.blog-header
{
    background-image: url("../public/assets/img/banner/b7.jpg");
}

#blog
{
    padding: 150px 150px 0 150px;
}

#blog .blog-box
{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img
{
    width: 50%;
    margin-right: 40px;
}

#blog img
{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 18px;
}


#blog .blog-details
{
    width: 50%;
}

#blog .blog-details a
{
    text-decoration: none;
    color: #000;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after
{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover
{
    color: #088178;
}

#blog .blog-details a:hover::after
{
    background-color: #088178;
}

#blog .blog-box h1
{
    color: #000;
}

#blog .blog-box h1
{
    position: absolute;
    top: -67px;
    left: 0;
    font-size: 70px;
    font-weight: 700px;
    color: #e0e1e3;
    z-index: -9;
}


#page-header.contact-header
{
    background-image: url("../public/assets/img/banner/b10.jpg");
}

#contact-details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .blog-details
{
    width: 40%;
}

#contact-details .details span,
#form-details form span
{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2
{
    font-size: 26px;
    line-height: 36px;
    padding: 20px 0;
}

#contact-details .details h3
{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li
{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i
{
    font-size: 12px;
    padding-right: 22px;
}

#contact-details .details li p
{
    margin: 0;
    font-size: 14px;
}

#contact-details .map
{
    width: 50%;
    height: 400px;

}

#contact-details .map iframe
{
    width: 100%;
    height: 100%;
}

#form-details
{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form
{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea
{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button 
{
    background-color: #088178;
    color: #fff;
}

#form-details .people div
{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img
{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p
{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span
{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

@media (max-width:799px) 
{
    .section-p1 
    {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #4e4d3f;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close 
    {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag
    {
        display: none;
    }

    #hero 
    {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature 
    {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #feature .fe-box 
    {
        margin: 15px 15px;
    }

    #product1 .pro-container 
    {
        justify-content: center;
    }

    #product1 .pro 
    {
        margin: 15px;
    }
    
    #banner {
        
        height: 20vh;
    }

    #sm-banner .banner-box 
    {
        
        min-width: 100%;
        height: 30vh;
    }

    #banner3 
    {
        padding: 0 40px;
    }

    #banner3 .banner-box 
    {
        padding: 47px;
        width: 28%;
    }

    #newsletter .form 
    {
        width: 70%;
    }

    #blog .blog-box h1
{
    position: absolute;
    top: -49px;
    left: 0;
    font-size: 70px;
    font-weight: 700px;
    color: #e0e1e3;
    z-index: -9;
}
}


@media (max-width: 477px) 
{
    .section-p1 {
        padding: 20px;
    }

    #hero 
    {
        padding: 0 20px;
        background-position: 55%;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #header 
    {
        padding: 10px 30px;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner 
    {    
        height: 40vh;
    }

    #sm-banner .banner-box 
    {
        height: 40vh;
    }

    #sm-banner .banner-box2 
    {
        margin-top: 20px;
    }

    #banner3 
    {
        padding: 0 20px;
    }

    #banner3 .banner-box 
    {
        width: 100%;
    }

    #newsletter {
       padding: 40px 20px;
    }


    #newsletter .form 
    {
        width: 100%;
    }

    footer .copyright 
    {
        text-align: start;
    }

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Blog Page */
    #blog
{
    padding: 100px 20px 0 20px;
}

    #blog .blog-box 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#blog .blog-img
{
    width: 100%;
    margin-right: 0px;
}

#blog .blog-details
{
    width: 100%;
}

#blog .blog-box h1
{
    position: absolute;
    top: -65px;
    left: 0;
    font-size: 70px;
    font-weight: 700px;
    color: #e0e1e3;
    z-index: -9;
}




}



